html {
  line-height: 1.1em; 
  font-family: tahoma;  

}
body {
  background: #acacac; 
 /*  background: -webkit-linear-gradient(#cecece, #a3a4d2); 
    background: -o-linear-gradient(#cecece, #a3a4d2); 
    background: -moz-linear-gradient(#cecece, #a3a4d2); 
    background: linear-gradient(#cecece, #a3a4d2);  */
    color: #6e6e6e;
    margin: 0px !important;
  }
  .container-page{
    width: 95%;
    margin: auto;
    padding: 10px;
    overflow: auto;
  }
  .cont-text, .cont-chart, .text-head{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .cont-text, .text-head{
   box-shadow: 4px 4px 1px #032844;
   background: #005ca4;
   border-radius: 10px;

 }

 .cont-text{
  min-height: 650px;
   float: left;
   width: 39%;
 }
 .cont-chart{
   height: 600px;
   float: left;
   width: 59%;
   margin-left: 10px;
 }
 .title1{
   margin: 10px 20px;
   font-size: 20px;
 }
 .text1{
  margin: 10px;
  font-size: 14px;
  color: #fff;
}

.text-head{
  width: 100%;
  float: left;
}

.tab{
 float: left;
 margin: 0px 2px;
 background: #d2e0ec;
 padding: 15px;
 border-radius: 5px 5px 0px 0px;
 list-style:none;
 box-shadow: 2px 2px 1px #888888;
 color: #ccc;
 font-weight: 600;
}
.tab:hover{
  background: #26a37a;
  color: #fff;
}

.tab:hover  >.btn-tab{
  background: #26a37a;
  color: #fff;
}

.btn-tab{
  text-decoration: none;
  color: #000000;
}

.list-tab{
  width: 100%;
  float: left;
  position: relative;
}

ul{
  margin-top: 0px;
}

.active{
  background: #1d5987;
}
.active >.btn-tab{
 color: #fff;
}


.highcharts-box{
  width: 100%;
  height: 550px;

}
p{
 color: #fff;
}

.header-box{
  text-transform: uppercase;
  background: #032844;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid 3px #76aadb;
}
.header-box p {
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.min-img{
 border-radius: 50%;
 float: left;
 margin: 10px;
 
 box-shadow: 2px 2px 1px #888888;
 width: 100px;
 height: 100px;
}
.min-img:hover {
  width: 103px;
  height: 103px;
}

li{
  color: #fff;
}

/* 
*
*
*
*
*   D3 bubble line  
*
*
*
*
*
*
*/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left:40px;
  font-weight: 200;
  font-size: 14px;
}
html,body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
text {
  cursor: default;
}
h1 {
  font-weight: 400;
}
#chart {
  height: 550px;
}
text {
  font-size: 10px;
}
.dot {
  stroke: #000;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.label {
  fill: #777;
}
.year.label {
  font: 500 196px "Helvetica Neue";
  fill: #ddd;
}
.country.label  {
  font: 500 96px "Helvetica Neue";
  fill: #ddd;
}
.year.label.active {
  fill: #aaa;
}
circle.pointTrajectory {
 pointer-events: none;
 stroke: lightgray;
 fill: black;
 opacity: 0;
}
path.lineTrajectory {
  stroke-width: 2;
  stroke-opacity: .5;
  stroke: black;
  fill: none;
  pointer-events: none;
}
.selected {
  stroke-width: 4;
}

