html {
 /*   font-family: tahoma;  */
}
body {
    background: #f2f2f2;  For browsers that do not support gradients */
 /*   background: -webkit-linear-gradient(#cccccc, #f2f2f2); 
    background: -o-linear-gradient(#cccccc, #f2f2f2); 
    background: -moz-linear-gradient(#cccccc, #f2f2f2); 
    background: linear-gradient(#cccccc, #f2f2f2);  */
    color: #6e6e6e;
}
.cont-text, .cont-chart, .text-head{
  margin-top: 20px;
  margin-bottom: 20px;
}
.cont-text, .text-head{
   box-shadow: 2px 2px 1px #888888;
  background: #cccccc;
  border-radius: 10px;

}

.cont-text{
	height: 500px;
	float: left;
	width: 30%;
}
.cont-chart{
	height: 500px;
	float: left;
	width: 70%;
}
.title1{
	margin: 10px 20px;
	font-size: 20px;
}
.text1{
	margin: 10px;
	font-size: 16px;
}

.text-head{
  width: 100%;
  float: left;
}




/* 
*
*
*
*
*   D3 bubble line  
*
*
*
*
*
*
*/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left:40px;
  font-weight: 200;
  font-size: 14px;
}
html,body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
text {
  cursor: default;
}
h1 {
  font-weight: 400;
}
#chart {
  height: 506px;
}
text {
  font-size: 10px;
}
.dot {
  stroke: #000;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.label {
  fill: #777;
}
.year.label {
  font: 500 196px "Helvetica Neue";
  fill: #ddd;
}
.country.label  {
  font: 500 96px "Helvetica Neue";
  fill: #ddd;
}
.year.label.active {
  fill: #aaa;
}
circle.pointTrajectory {
   pointer-events: none;
   stroke: lightgray;
   fill: black;
   opacity: 0;
}
path.lineTrajectory {
  stroke-width: 2;
  stroke-opacity: .5;
  stroke: black;
  fill: none;
  pointer-events: none;
}
.selected {
  stroke-width: 4;
}