<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>Micitt</title>

	<link href="./css/dragit.css" rel="stylesheet"/>
	<script src="./js/d3.v3.js"></script>
	<script src="./js/dragit.js"></script> 

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="./js/jquery/jquery-ui.js"></script>

	<!--script type="text/javascript" src="./js/ui-bootstrap-tpls-2.5.0.min.js"></script-->

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="./js/angular/app.js"></script>
	<script type="text/javascript" src="./js/highcharts/highcharts.js"></script>
	<script type="text/javascript" src="./js/lineChart.js"></script>
</head>
<body ng-controller="MainCtrl as ctrl" >
	
	<header>
		<iframe style="width:100%;  overflow:hidden" id="myIframe" src="http://www.micit.go.cr/junar/header.html" frameborder="0" frameborder="0" scrolling="no"></iframe>
		
	</header>
	<div class="container-fluid"> 
		<!--Pit -->
		<section>
			<div class="row">
				<div	class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="text-head"> 
						<div class="header-box">		
							<P class="title1">¿Qué es el ACT y por qué es tan importante para el futuro de Costa Rica?</P>
						</div>
						<img src="img/img_15.png" class="min-img">
						<p class="text1">ACT son las siglas para “Actividades Científicas y Tecnológicas” y se definen como actividades que están estrechamente relacionadas con la producción, la promoción, la difusión y la aplicación de conocimientos científicos y técnicos.</p>
						<p class = "text1">Estas actividades comprenden la investigación y desarrollo (I+D), la enseñanza y la formación científica y tecnológica (EFCT) y los servicios científicos y tecnológicos (SCT).</p>
					</div>
				</div>
			</div>
			<style type="text/css"> #ifrBubble{top:0px; left:0px; bottom:0px; right:0px; width:100%; height: 600px; border:none; margin:0; padding:0; overflow:hidden; z-index:999999; }</style><iframe name="ifrBubble" id="ifrBubble" src="./bubbletree.html" frameborder="0"></iframe>

				</section>
				<!-- Inversión económica -->
				<section >
					
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5" ng-show="isSet(1)">
							<div class="cont-text">
								<div class="header-box">
									<P class="title1">Costa Rica vs Latinoamérica</P>
								</div>
								<img src="img/img_23.png" class="min-img">
								<p class="text1">A lo largo del tiempo, el gobierno de Costa Rica ha invertido desde los años 90 entre 0.72% y el 2% de su presupuesto en ciencia y tecnología. Para ponerlo en perspectiva, Costa Rica se sitúa entre los países mejor posicionados del área en este sentido. </p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5" ng-show="isSet(2)">
							<div class="cont-text"> 
								<div class="header-box">
									<P class="title1">Inversión económica</P>
								</div>
								<img src="img/img_21.png" class="min-img">
								<p class="text1">El aumento al presupuesto de ciencia y tecnología viene en paralelo con cada uno de sus componentes. Se le da más prioridad a la educación, luego a los servicios y por último a la investigación y desarrollo.  Esto responde a la intención de formar profesionales en áreas técnicas y suplir la creciente demanda etc*** SE PUEDE PONER UNA REFERENCIA A LA FORMACION DE PROFESIONALES EN AREAS TECNICAS***</p>
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-7 ">
							<div class="cont-chart">
								<div class="list-tab" >
									<ul >
										<li class="tab" class="tab" ng-class="{ active: isSet(1) }">
											<span class="btn-tab" ng-click="setTab(1)">(ACT) + (I+D)</span>
										</li>
										<li class="tab" class="tab" ng-class="{ active: isSet(2) }">
											<span class="btn-tab" ng-click="setTab(2)">Gastos de ACT</span>
										</li>
										<li  class="tab" ng-class="{ active: isSet(1) }">
											<span class="btn-tab" href ng-click="setTab(1)">Costa Rica vs Latinoamérica </span>
										</li>
									</ul>
								</div>
								<div >
									<div  ng-show="isSet(1)">
										<div id="chart"></div>
										<span id="min-time">2009</span> 
										<input type="range" name="points" min="0" max="5" step="1" value="0" id="slider-time" style=" width:475px">
										<span id="max-time">2014</span>
									</div>
									<div  ng-show="isSet(2)">
										<div class="highcharts-box" id="container-ACT1"></div>
									</div>
									<div ng-show="isSet(3)">
										<div class="highcharts-box" id="containerACTPaises"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
	</div>
	<iframe style="width:100%; height: 200px; overflow:hidden" id="myIframe" src="http://www.micit.go.cr/junar/footer.html" frameborder="0" frameborder="0" scrolling="no"></iframe>

	<script type="text/javascript" src="./js/chart.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/index.css">
</body>
</html>